* {
	border: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border-radius: 0;
	list-style: none;
    text-decoration: none;
    height: 100%;
}

body{
    background-image: linear-gradient(to right,#36c4ccc4,#d39523b9,#b88d3fb4 , #c24b3eab,#8d43398a);
}

h1{
    text-align: center;
    padding-top: 50px;
    color: black;
    background-attachment: fixed;
}

h1::before, h1::after{
    content: '';
    background: rgb(66, 15, 90);
    width: 200px;
    height: 4px;
    margin: 20px auto;
    display: block;
}