@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

* {
	border: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border-radius: 0;
  list-style: none;
  text-decoration: none;
}

img{
    max-width: 100%;
}

body{
    background-color: rgb(235, 233, 233);
    font-family: 'Lato', sans-serif;
}

.header{
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: rgb(235, 233, 233);
} 

.header__wrapper{
  display: flex;
  align-items: center;
  min-height: 80px;
  width: 100%;
  padding: 0px 15px;
  justify-content: space-between;
  margin: 0 auto;

}

.header-img{
    height: 34px;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    width: 30vw;
    justify-content: space-around;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 400;
}

.nav-link{
    color: black;
}

.container{
    margin: 0 auto;
    width: 1000px;
    max-width: 100%;
}

.hero{
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    height: 200px;
    flex-direction: column;
    margin-top: 45px;
}

.hero h2{
    margin-bottom: 20px;
}

.hero input[type='submit']{
    background-color: #ebbf0f;
    max-width: 150px;
    margin: 15px 0;
}
.button{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
    border-radius: 2.3px;
    cursor: pointer;
    padding: 0px 15px;
    height: 30px;
}

.hero input[type='email'] {
    max-width: 250px;
    width: 100%;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 3px;
}

.hero input[type='submit']:hover {
    background-color: rgb(241, 158, 4);
    transition: background-color 1s;
  }

  .grid{
    display: flex;
  }
  
  .description{
    padding-top: 25px;
    height: 125px;
    width: 1000px
  }

.video__work{
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

  .video{
    max-width: 525px;
    width: 100%;
  }

  .price{
    margin-top: 60px;
    display: flex;
    justify-content: center;
  }

  .product{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
    width: 300px;
    border: 1px solid black;
    border-radius: 4px;
  }

  .icon, .fa{
    font-size: 50px;
  }
  
  .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 100px;
    padding-top: 5px;
    color: darkorange;
    
  }

  .product-list{
    margin: 15px 0;
    padding: 5px 0;
  }

  .product li{
    padding: 5px 0;
  }
 
  .money{
    padding-top: 15px;
  }

  .product button{
    margin: 15px 0;
    border: 0;
    background-color:#ebbf0f;
    font-weight: 400;
  }

  .product button:hover{
    background-color: rgb(241, 158, 4);
    transition: background-color 0.6s;
  }

  .name{
    background-color: rgb(216, 216, 216);
    color: rgb(0, 0, 0);
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
  }

  .footer{
    background-color: rgb(216, 216, 216);
    padding: 20px;
    margin-top: 32px;
  }

  ul{
    display: flex;
    justify-content: flex-end;
}

   .footer li{
     padding: 0 10px;
   }

  .footer span{
    color: rgb(70, 71, 73);
    display: flex;
    justify-content: flex-end;
    font-size: 14.4px;
  }

  @media screen and (max-width:650px){

.header{
  padding: 10px 0 5px;
}

        .header__wrapper{
          display: flex;
          flex-direction: column;
        }

        .nav-bar{
          display: flex;
          flex-direction: column;
          gap: 5px;
        }

       .header-img{
          margin-top: 0 auto;
       }

       .price{
        flex-direction: column;
       }

        .product{
          width: 100%;
          max-width: 95%;
          margin-bottom: 25px;
        }

         h2{
           text-align: center;
         }

         .money{
           margin-top: 15px;
         }
         
        .hero{
          padding-top: 135px;
          margin-bottom: 100px;
        }

        .description p{
          width: 100%;
          
        }

        .icon{
          display: none;
        }

        .description{
          text-align: center;
          height: 140px;
        }
      }