@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	border: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border-radius: 0;
	list-style: none;
}

body{
   font-family: Arial, Helvetica, sans-serif;
}

.topo{
    background-color: #f0f0f0;
    padding: 35px 0px 58px;
    border-bottom: 23.64px solid #f53838;
}

h1{
    font-family: 'Roboto', sans-serif;
font-weight: normal;
font-size: 30px;
line-height: 35px;
color: #333333;
text-align: center;
}

.circle-image {
    border-radius: 50%;
    height: 180px;
    width: 180px;
    display: block;
    background-image: url(foto2.png);
    margin: 32px auto 32px;
    border:6px solid red;

}
.miniBio{
    color: red;
    padding-top: 27px;
    padding-bottom: 12px;
}

.bio{
width: 740px;
height: 155px;
background: #ffffff86;
box-shadow: 0px 0px 10px rgba(202, 143, 143, 0.25);
margin: auto;
padding-left: 37px;
padding-right: 48px;
padding-bottom: 36px;
}


.pai{    width: 550px;
    background-color: #725BFF;
   padding: 29px 22px 24px;;
}

.titulo2{
    color: white;
    margin-bottom: 10px;

}
 
.texto1{
    margin-bottom: 25px;
}

.texto2{
    margin-bottom: 19px;
}

.texto3{
    margin-bottom: 30px;
}

.retangulo2{
    color: white;
    display: flex;
    justify-content: center;
    margin: 47px 0px 82px;
    gap: 20px;

}



.leiaMais{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 6px;

}

.ler{
  color: white;
  text-decoration: none;
  border-bottom: 5px solid white;
  margin-bottom: 24px;
}

.copy{
    text-align: center;
    padding-top: 55px;
    border-top: 10px solid #f53838;
    padding-bottom: 55px;
    background-color: #f0f0f0;
}